@model IEnumerable<RedisOnDotnet6Demo.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Employee Details</h1>
</div>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
      <tr>
          <th scope="row">
              @Html.DisplayFor(modelItem => item.FirstName)
          </th>
          <td>@Html.DisplayFor(modelItem => item.LastName)</td>
      </tr>
  }
  </tbody>
</table>
<a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index" asp-route-fromCache="false">Reload</a>
<a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index" asp-route-fromCache="true">Reload from Cache</a>