@model IEnumerable<RedisOnDotnet6Demo.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Employee Details</h1>
    <p>@ViewData["Location"]</p>
</div>
<br>
<table class="table table-hover table-striped table-bordered table-sm">
  <thead>
    <tr class="table-primary">
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
  </thead>
  <tbody>
  @if (!Model.Any())
  {
      <tr>
          <td>Loading...</td>
      </tr>
  }
  else
  {
      foreach (var item in Model)
      {
          <tr class="@ViewData["Style"]">
              <th>
                  @Html.DisplayFor(modelItem => item.FirstName)
              </th>
              <th>
                  @Html.DisplayFor(modelItem => item.LastName)
              </th>
          </tr>
      }
  }
  </tbody>
</table>
<a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Reload</a>